body {
    margin-top: auto;
    margin: 0;
    background-color: #FCF7F8;
    font-size: 18px;
}

#map {
    width: 100%;
    height: 600px;
    border-style: groove; 

}

/* #map {
  width: 90%;
  height: 600px;
  margin: 5em auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border-style: double;

} */
.headline {
    text-align: center;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }
  .mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
  }

.title {
	background-color: white;
	opacity: 80%;
	border-radius: 1em;
	top: 65em;
    /* bottom: 3em; */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .6em/.4em 'Open Sans', sans-serif;
	line-height: 2.5em;
	padding: 1em 1em 0em;
	position:absolute;
	max-width: 10rem;
	margin: 30em 5em 0rem 30rem;
	z-index: 100;
}


#legend {
  z-index: 100;
  position: absolute;
  top: 15rem;
  left: 1rem;
  background: hsla(100, 100%, 100%, .9);
  padding:  0em 1em 0em;
  width: 160px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  margin-left: 2em;
  opacity: 0.8;

}


.head-container {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.p {
    font-size: 20px;

}

.story {
  width: auto;
  position: relative;
  font-family: 'Joan', serif;

}

  .legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 10px;
    width: 10px;

  }

  hr {
    max-width: 60rem;
    margin: auto;
    margin-top:16px;
    background-color: grey;
    opacity: 0.5;
  }

  .container {
      padding-bottom: 2em;
      font-size: 18px;
      
  }

  .img-container {
    text-align: center;
  }


@media screen and (max-width: 736px) and (min-width: 414px) {
    div.legend {
        font:'Roboto', sans-serif;
        position:relative;
        /* right: 10px; */
        z-index: 100;
        opacity: 80%;
        font-size: 14px;
        text-align: justify;
        orientation: portrait;

    }
  }


/* Landscape */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  div.legend {
      font:'Roboto', sans-serif;
      position:relative;
      /* right: 10px; */
      z-index: 100;
      opacity: 80%;
      font-size: 14px;
      orientation: landscape;
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(120ch, 100%)
    1fr;
}

.wrapper h1 {
  text-align: left;
  font-size: 3rem;
  font-family: 'Joan', serif;
  font-weight: 700;

}



.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
  margin: 0;
}

.body-wrapper {
  padding: 1em 1em 1em 1em;
}

.hero-image {
    width: 120vw;
    height: 120vh;
    display: inline;
    margin-right: -10px;
    margin-left: -25px;
    margin-top: -80px;
    margin-bottom: 10px;
    max-width: 100vw;
    object-fit: cover;
}
.text-on-image {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

.myDropcap {
  padding-left: 5px;
  padding-right: 10px;
  float: left;
  position: relative;
  top: -0.15em;
  margin-bottom: -0.5em;
  margin-left: -6px;
  margin-right: 2px;
  font-size: 85px;
  font-family: 'Times New Roman', Times, serif;
}

  /* Collapsing Columns */
  
  .row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
  }
  
  .column-container {
    flex-grow: 1;
  }
  
  @media (max-width: 768px) {
    .row-container {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 370px) {
    .row {
      margin: auto;
      padding-right: 0px;
  }

  .parallax {
    /* The image used */
    background-image: url("images/rutgers-gate.jpeg");
    width: auto;
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("images/Bishop Young.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    .header-filter {
       background-size: contain;
       background-repeat: no-repeat;
    }
    .page-header {
       min-height: auto!important;
       margin-top: 65px;
    }
   }